body{
    background-color: hsl(212, 45%, 89%);
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: 'Outfit', sans-serif;
     margin: 0;
     box-sizing: border-box;
}

.card{
    background-color: white;
     border-radius: 10px;
     padding: 20px;
     width: 300px;
     box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
     text-align: center;
      overflow: hidden;
     
}
@media (max-width: 375px) {
    .card{
    width: 250px;
}}
img{
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}
h1{
    color:hsl(218, 44%, 22%);
    font-weight: 700;
    font-size: 23px;
    margin-bottom: 10px;
}
p{
    color: hsl(216, 15%, 48%);
    font-size: 17px;
    text-align: center;
    line-height: 20px;
}